# commento prima dell'header
MATCH;FOLDER
Black.Sails;Black Sails
Bones
Castle;Castle (2009)
Elementary
Fargo
[Gg]ame.[Oo]f.[Tt]hrones;Game of Thrones
[Ii]l.[Tt]rono.[Dd]i.[Ss]pade;Game of Thrones
Gotham
Human.Planet;Human Planet
Marco.Polo;Marco Polo (2014)
[Pp]erson.[Oo]f.[Ii]nterest;Person of Interest
Quantico
Sanford.&.Son;Sanford & Son
Sense8
The.100;The 100
The.Blacklist;The Blacklist
Vinyl
Marvels.Daredevil
